<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>KanBan</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../style.css">
</head>
<body>
  <div class="container">
    <h3>Welcome to KanBan</h3>
    <form action="/lists" method="post" accept-charset="utf-8" class='listForm'>
      <input type="text" size="10" name="list" placeholder="Add a list..">
      <input type="submit" value="Add">
    </form>
    <%if (Object.keys(list).length > 0) {%><p>Your cards are: </p> <%}%>
    
    <!-- Lists with cards holders -->
    <%for (var key in list) { %>
      <%if (list.hasOwnProperty(key)) { %>
      <div  class='list'>
      <form action="/cards" method="post" accept-charset="utf-8">
        <%=list[key].name%><br>
        <input type="hidden" name="listId"  value="<%=key%>" />
        <input type="text" size="10" name="card" placeholder="Add a card..">
        <input type="submit" value="Add">
      </form>
      <%if (list[key].cards) {%>
        <%list[key].cards.forEach(function(card){ %>
          <p class="cards"><%=card.content%></p>
        <%});%>
      <%}%>

      </div>
      <%}%>
    <%}%>

    <!-- End of lists with cards -->

  </div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="../cardMaker.js" type="text/javascript"></script>
</body>
</html>