/************************************
      Main Page Elements
************************************/

body {
  background-color: #303440;
}

.container {
  background-color: #5e93c4;
  height:100%;
}

form {
  padding: 5px;
  text-align: center;
}

/************************************
                Lists
************************************/

.listForm {
  text-align: left;
}

.list {
  position: relative;
  display: inline-block;
  float: left;
  margin: 1%;
  background-color: #8da1b8;
  width: 30%;
  padding-bottom: 3%; 
  border-radius: 5%;
}

.cards {
  background-color: #BdD1E8;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}